<div class="container">
	<div class="note" *ngFor="let note of notes" style="background-color: {{note.color}}" (click)="onSelect(note)">
		<h2 class="title">{{note?.title}}</h2>
		<p>{{note?.color}}</p>
		<div *ngIf="note?.type==='list'">
			<ul class="content listcontent" *ngFor="let item of note.content">
				<li *ngIf="item.done">
					<h3><input type="checkbox" checked  (click)="onCheck(note, item)">{{item.content}} - {{item.done}}</h3>
				</li>
				<li *ngIf="!item.done">
					<h3><input type="checkbox" (click)="onCheck(note, item)">{{item.content}} - {{item.done}}</h3>
				</li>
			</ul>
		</div>
		<div *ngIf="note?.type!=='list'">
			<h3 class="content notecontent">{{note?.content}}</h3>
		</div>
		<p class="date">{{note?.datecreated}}</p>
		<br>
		<p class="id">{{note?.id}}</p>
	</div>
</div>
