<div class="container">
	<div class="note" *ngFor="let note of notes">
		<h2>{{note?.title}}</h2>
		<p>{{note?.color}}</p>
		<div *ngIf="note?.type==='list'">
			<ul *ngFor="let item of note.content">
				<li><h3>{{item.content}}</h3></li>
			</ul>
		</div>
		<div *ngIf="note?.type!=='list'">
			<h3>{{note?.content}}</h3>
		</div>
		<p>{{note?.datecreated}}</p>
		<p>{{note?.id}}</p>
		<!-- </div> -->
	</div>
</div>
<!-- <div *ngfor="let note of notes">
  {{note}}
</div> -->

<!-- <div class="{{notes?.type}}">
</div> -->

<!-- {{notes?.securityservice}}
<br>
{{notes?.cacheservice}} -->